/*
*---------------------------------Website Colors
*/
/*
*---------------------------------Fonts
*/
/*
*---------------------------------mixins
*/
/*
*------------------------------------------------------------------------CSS
*/
body {
  color: #3a3939;
  background-color: #f0f0f0;
  padding: 0;
  margin: 0;
}

body main {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: #f0f0f0;
}

body .admin-main {
  background-color: #80a1d1;
}

body .detail-span-bold {
  font-size: 13px;
  font-style: italic;
  color: #DD1717;
  text-align: left;
}

body .notice {
  color: #3a3939;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
}

body table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  text-align: center;
  width: 80%;
  margin: 0 0 50px 15px;
  border: 1px solid #80a1d1;
}

body table th, body table td {
  padding: 8px;
  border-left: 1px solid #80a1d1;
  border-right: 1px solid #80a1d1;
}

body table th .image-tn, body table td .image-tn {
  width: 60px;
  height: auto;
}

body table .td-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 60px;
  border: none;
}

body table .td-buttons .button {
  margin: 15px 3px 0 3px;
}

body table tr:nth-child(even) {
  background-color: #d8d5d5;
}

body table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #0f4392;
  color: #fdfdfd;
}

body .account-button {
  display: block;
  padding: 4px;
  background-color: #ff4949 !important;
  color: #fdfdfd;
  border-radius: 3px !important;
  max-width: 150px !important;
}

body .button {
  display: block;
  width: 65.5%;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #fdfdfd;
  background-color: #ff4949;
  border-radius: 3px;
  border: none;
  -webkit-box-shadow: 1px 2px 5px 1px #3a3939;
          box-shadow: 1px 2px 5px 1px #3a3939;
}

.admin-main {
  background-color: #d8d5d5;
}

.desktop-nav, .hidden {
  display: none;
}

.mobile-nav {
  display: block;
}

ul {
  -webkit-margin-before: 0 !important;
          margin-block-start: 0 !important;
  -webkit-margin-after: 0 !important;
          margin-block-end: 0 !important;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 0 !important;
          padding-inline-start: 0 !important;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #0f4392;
}

h1.title {
  text-align: center;
}

img.product-image {
  width: 200px;
  height: auto;
  background-color: #d8d5d5;
  display: block;
  margin: 15px auto;
  -webkit-box-shadow: 0 1px 10px 2px #3a3939;
          box-shadow: 0 1px 10px 2px #3a3939;
}

/*
*-------------------------------------------Header-top
*/
.header-top {
  height: 50px;
  width: 100%;
  line-height: 50px;
  text-align: center;
  color: #fdfdfd;
  background-color: #000249;
}

/*------------------------------------------------Header-top END
*/
/*
* -------------------------------------------Nav Menu
*/
nav.mobile-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fa9595;
  height: 40px;
  line-height: 40px;
  width: 94%;
  padding: 5px 3%;
  color: #fdfdfd;
}

nav.mobile-nav .nav-hamburger-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.mobile-nav .nav-hamburger-top .nav-logo-hello-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.mobile-nav .fa-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15px;
  line-height: 15px;
}

nav.mobile-nav .fa-item-container a.account {
  font-size: 14px;
  color: #3a3939;
  padding: 5px;
  background-color: #fdfdfd;
  border-radius: 3px;
}

nav.mobile-nav .fa-item-container .fa {
  font-size: 25px;
  padding: 0 8px 0 0;
  color: #fdfdfd;
}

nav.mobile-nav .nav-menu-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  line-height: 30px;
}

nav.mobile-nav .nav-menu-logo .fa {
  font-size: 30px;
}

nav.mobile-nav .show {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  color: #3a3939;
  background-color: #fdfdfd;
}

nav.mobile-nav .show .nav-hamburger-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  line-height: 50px;
  background-color: #fa9595;
  padding: 0 15px;
}

nav.mobile-nav .show .nav-hamburger-top .fa-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 30px;
  line-height: 15px;
}

nav.mobile-nav .show .nav-hamburger-top .fa-item-container a.account, nav.mobile-nav .show .nav-hamburger-top .fa-item-container p.nav-hamburger-hello {
  font-size: 20px;
  color: #fdfdfd;
  padding: 5px;
  margin: 0 5px 0 0;
  border-radius: 3px;
}

nav.mobile-nav .show .nav-hamburger-top .fa-item-container a.account {
  font-size: 14px;
  color: #3a3939;
}

nav.mobile-nav .show .nav-hamburger-top .fa-item-container img {
  font-size: 14px;
  color: #fdfdfd;
}

nav.mobile-nav .show .nav-hamburger-top i.nav-hamburger-close {
  font-size: 20px;
  color: #fdfdfd;
  margin: 0;
  padding: 0;
}

nav.mobile-nav .show a.nav-list-link {
  color: #3a3939;
  padding-left: 15px;
}

/*-----------------------------------------------Nav Menu
*/
/*
*-------------------------------------------------Header-bottom
*/
.header-bottom {
  height: 250px;
  width: 94%;
  line-height: 150px;
  text-align: center;
  color: #fdfdfd;
  font-size: 60px;
  background-color: #0f4392;
  border-radius: 3px;
  margin: 20px auto;
}

.shop-hero {
  background-color: #ff4949;
}

/*------------------------------------------------Header-bottom END
*/
/*
*------------------------------------------------Dashboard
*/
.admin-dashboard {
  display: none;
}

.dashboard {
  max-width: 100%;
  min-height: 100%;
  margin: 0;
}

.dashboard .dashboard-side-nav {
  -webkit-padding-start: 0 !important;
          padding-inline-start: 0 !important;
  height: 800px;
  background-color: #80a1d1;
}

.dashboard .dashboard-side-nav .dashboard-side-nav-items {
  background-color: #80a1d1;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.dashboard .dashboard-side-nav .dashboard-side-nav-items .dashboard-side-nav-links {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #fdfdfd;
  text-align: left;
  margin-left: 18%;
}

.dashboard .dashboard-side-nav .dashboard-side-nav-items .dashboard-main-link {
  font-weight: 900;
  background-color: #0f4392;
  color: #fdfdfd;
  margin-left: 0;
  text-align: center;
}

.dashboard .dashboard-side-nav .dashboard-side-nav-items:hover {
  background-color: #000249;
}

.dashboard .dashboard-side-nav .dashboard-side-nav-items:hover .a:hover {
  color: #fdfdfd;
}

.dashboard .dashboard-side-nav .active-li {
  background-color: #ff4949;
}

.dashboard .dashboard-side-nav .account-dashboard-side-nav-items {
  background-color: #fa9595;
}

.dashboard .dashboard-side-nav .account-dashboard-side-nav-items .account-dashboard-main-link {
  background-color: #ff4949;
  font-weight: 900;
  color: #fdfdfd;
  margin-left: 0;
  text-align: center;
}

.dashboard .dashboard-side-nav .account-dashboard-side-nav-items:hover {
  background-color: #DD1717;
}

.dashboard .account-side-nav {
  background-color: #fa9595 !important;
  padding-right: 1px;
}

.dashboard .account-side-nav .dashboard-side-nav-items {
  border: none;
  background-color: #fa9595;
}

.dashboard .account-side-nav .dashboard-side-nav-items .dashboard-main-link {
  font-weight: 900;
  background-color: #ff4949;
  margin-left: 0;
  text-align: center;
}

.dashboard .dashboard-content {
  width: 100%;
  max-width: 100%;
  height: 100%;
  background-color: #fdfdfd;
  margin: 10px;
  border-radius: 4px;
  padding: 0;
}

.dashboard .dashboard-content .h2 {
  color: #000249;
  font-size: 20px;
  text-align: left;
  margin: 5px 15px;
}

.dashboard .dashboard-content p {
  color: #3a3939;
  font-size: 14px;
  text-align: left;
  max-width: 100%;
  margin: 15px 5px 5px 5px;
}

.dashboard .dashboard-content .add-new {
  max-width: 75px;
  padding: 4px;
  margin: 10px 15px;
}

.dashboard .Account-content {
  border: 1px solid #ff4949;
}

/*------------------------------------------------Dashboard END
*/
/*
*-----------------------------------------------Category block
*/
.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 90%;
  max-width: 93%;
  height: 300px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px;
  margin: 20px auto;
}

.categories .category {
  display: block;
  height: 96%;
  min-width: 47%;
  color: #fdfdfd;
  border-radius: 5px;
  background-color: #ff4949;
}

.categories .category p {
  font-size: 50px;
  text-align: center;
}

/*-----------------------------------------------Category block END
*/
/*
*-----------------------------------------------Products block
*/
.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 94%;
  height: 320px;
  border-radius: 5px;
  padding: 5px;
  margin: 20px auto;
}

.products .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  color: #fdfdfd;
  background-color: #fdfdfd;
  border-radius: 5px;
  margin: 10px auto;
}

.products .product img {
  width: 70%;
  height: auto;
  background-color: #d8d5d5;
  display: block;
  margin: 15px auto;
}

.products .product p {
  font-size: 15px;
  height: 20px;
  text-align: center;
  color: #3a3939;
}

.shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fdfdfd;
}

.shop .side-bar {
  width: 85%;
}

.shop .shop-products {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  z-index: 0;
  border-radius: 3px;
  padding: 1px;
  height: auto;
}

.shop .shop-products .product {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  color: #3a3939;
  text-align: left;
  max-width: 184px;
  margin-top: 15px;
  -webkit-box-shadow: 0 0 10px 1px #d8d5d5;
          box-shadow: 0 0 10px 1px #d8d5d5;
}

.shop .shop-products .product img {
  width: 180px;
  margin: 2px;
}

.shop .shop-products .product .productName-link {
  color: #0f4392;
}

.shop .shop-products .product .productName-link .productName {
  text-align: center;
  padding: 2px 5px;
  margin: 2px 0;
}

.shop .shop-products .product .productName-link:hover {
  color: #ff4949;
}

.shop .shop-products .product .productPrice {
  text-align: center;
  color: #3a3939;
  padding: 2px 5px;
  margin: 2px 0;
}

.shop .shop-products .product h5 {
  text-align: center;
  padding: 2px 5px;
  margin: 2px 0;
}

.shop .shop-products .product p {
  text-align: center;
  padding: 2px 5px;
  margin: 2px 0;
}

/*-----------------------------------------------Product END
*/
/*
*------------------------------------------------All Forms
*/
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 98%;
  padding: 20px 0;
  margin: 15px auto;
  border-radius: 3px;
  border: #0f4392 1px solid;
}

form input {
  width: 65%;
  height: 28px;
  margin: 2px 0 15px 0;
}

form .button {
  display: block;
  width: 65.5%;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #fdfdfd;
  background-color: #ff4949;
  border-radius: 3px;
  border: none;
  -webkit-box-shadow: 1px 2px 5px 1px #3a3939;
          box-shadow: 1px 2px 5px 1px #3a3939;
  height: 30px;
  line-height: 30px;
}

form .login-reg-button {
  display: block;
  width: 65.5%;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #fdfdfd;
  background-color: #0f4392;
  border-radius: 3px;
  border: none;
  -webkit-box-shadow: 1px 2px 5px 1px #3a3939;
          box-shadow: 1px 2px 5px 1px #3a3939;
  height: 30px;
  line-height: 30px;
}

form .detail-span {
  text-align: center;
  color: #DD1717;
  font-size: 12px;
  font-style: italic;
  margin: -10px 0 20px 0;
  width: 67%;
}

form.form-add-to-cart {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  border: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

form.form-add-to-cart #add-to-cart-qty {
  border-radius: 3px 0 0 3px;
  border: solid 1px #d8d5d5;
  width: 55%;
  height: 23px;
  background-color: #f0f0f0;
  text-align: center;
}

form.form-add-to-cart #add-to-cart-qty::-webkit-inner-spin-button {
  opacity: 1;
}

form.form-add-to-cart #add-to-cart-qty:focus {
  outline: none;
}

form.form-add-to-cart #add-to-cart-button {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0 3px 3px 0;
  width: 45%;
  height: 28px;
}

form.form-add-to-cart #add-to-cart-button:hover {
  background-color: #0f4392;
}

/*------------------------------------------------Forms END
*/
@media only screen and (min-width: 550px) {
  /*
*------------------------------------------------Dashboard
*/
  .dashboard {
    margin: 0 auto;
    height: 100%;
  }
  .dashboard .dashboard-side-nav {
    width: 450px;
    max-width: 450px;
  }
  .dashboard-content {
    min-width: 450px;
    max-width: 450px;
  }
  .dashboard-content .h2 {
    font-size: 24px;
  }
  .dashboard-content p {
    font-size: 14px;
  }
  /*------------------------------------------------Dashboard END
*/
  /*
*------------------------------------------------All Forms
*/
  form {
    width: 65%;
  }
  /*------------------------------------------------Forms END
*/
}

@media only screen and (min-width: 880px) {
  nav.mobile-nav {
    display: none;
  }
  nav.desktop-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fdfdfd;
    height: 45px;
    line-height: 45px;
    padding: 0 3%;
    max-width: 100%;
    -webkit-box-shadow: 1px 2px 12px 2px #3a3939;
            box-shadow: 1px 2px 12px 2px #3a3939;
  }
  nav.desktop-nav .nav-right-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 25px;
    line-height: 25px;
  }
  nav.desktop-nav .nav-right-block li {
    padding: 10px;
  }
  nav.desktop-nav .nav-right-block li a {
    color: #3a3939;
  }
  nav.desktop-nav .nav-desktop-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav.desktop-nav .fa-item-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav.desktop-nav .fa-item-container .fa-items-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav.desktop-nav .fa-item-container .fa-items-container .fa-shopping-cart {
    border: #3a3939 1px solid;
    padding: 2px 7px;
    border-radius: 4px;
  }
  nav.desktop-nav .fa-item-container .fa-items-container a {
    height: 22px;
    line-height: 22px;
    font-size: 15px;
    color: #fdfdfd;
    padding: 5px 8px;
    border-radius: 3px;
  }
  nav.desktop-nav .fa-item-container .fa-items-container a.user {
    background-color: #fdfdfd;
  }
  nav.desktop-nav .fa-item-container .fa-items-container a.account {
    background-color: #fa9595;
  }
  nav.desktop-nav .fa-item-container .fa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 22px;
    color: #3a3939;
    background-color: #fdfdfd;
    margin: 0 5px;
    height: 25px;
    line-height: 25px;
  }
  /*
    *------------------------------------------------Dashboard
    */
  .dashboard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 100%;
    margin: 0;
  }
  .dashboard .dashboard-side-nav {
    min-width: 0;
    max-width: 12%;
    min-height: 100%;
    margin: 0;
  }
  .dashboard .dashboard-content {
    max-width: 100%;
    border: none;
  }
  .dashboard .dashboard-content .h2 {
    font-size: 23px;
    padding: 0x 10px 0 20px;
  }
  .dashboard .dashboard-content p {
    font-size: 16px;
    padding: 0 10px 10px 10px;
  }
  .dashboard .dashboard-content .user-data-container {
    max-width: 100%;
    padding: 30px;
  }
  .dashboard .dashboard-content .user-data-container .user-update {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .dashboard .dashboard-content .user-data-container .user-update li {
    width: 25%;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }
  .dashboard .dashboard-content .user-data-container .user-update li a {
    display: block;
  }
  .dashboard .dashboard-content .user-data-container .user-update .user-update-item {
    background-color: #80a1d1;
    border-bottom: #fdfdfd 1px solid;
  }
  .dashboard .dashboard-content .user-data-container .user-update .user-update-item a {
    color: #fdfdfd;
  }
  .dashboard .dashboard-content .user-data-container .user-update .user-update-item:hover {
    background-color: #0f4392;
  }
  .dashboard .dashboard-content .user-data-container .dashboard-user-update-data {
    margin: 0 auto 50px auto;
    background-color: #80a1d1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .dashboard .dashboard-content .user-data-container .dashboard-user-update-data form {
    border: none;
    padding: 10px;
    margin: 15px 0 !important;
    width: 50%;
  }
  .dashboard .dashboard-content .user-data-container .dashboard-user-update-data .dashboard-form-details {
    width: 50%;
    height: 300px;
    background-color: #fdfdfd;
    border-radius: 3px;
    margin: 25px 60px 30px 0;
  }
  .dashboard .dashboard-content .user-data-container .dashboard-user-update-data .dashboard-form-details h3 {
    text-align: center;
  }
  .dashboard .dashboard-content .user-data-container .dashboard-user-update-data .dashboard-form-details .dashboard-details-addresses {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -15px;
  }
  .wide-form-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 95%;
    height: auto;
    margin: 5px;
    padding: 0;
  }
  /*------------------------------------------------Dashboard END
    */
  /*
    *------------------------------------------------All Forms
    */
  form {
    width: 45%;
    max-width: 500px;
  }
  form.checkboxed {
    padding: 5px;
    margin: 5px;
    width: 100%;
    min-width: 85%;
    background-color: #80a1d1;
  }
  form.checkboxed .swatch-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  form.checkboxed input.button {
    max-width: 100px;
    margin: 30px 20px 20px 20px;
  }
  form.checkboxed div.row-form-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 95%;
    border: #f0f0f0 1px solid;
    border-radius: 3px;
    padding: 20px;
  }
  form.checkboxed div.row-form-content div.column-form-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 50%;
    text-align: left;
  }
  form.checkboxed div.row-form-content div.column-form-input input, form.checkboxed div.row-form-content div.column-form-input textarea, form.checkboxed div.row-form-content div.column-form-input label {
    width: 100%;
    text-align: left;
    border: none;
    border-radius: 4px;
  }
  form.checkboxed div.row-form-content div.column-form-input label {
    color: #3a3939;
  }
  form.checkboxed div.row-form-content div.column-form-fieldsets {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 50%;
  }
  form.checkboxed div.row-form-content div.column-form-fieldsets fieldset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f0f0f0;
    min-width: 30%;
    width: 40%;
    height: 100px;
    overflow: scroll;
    padding: 2px 5px;
  }
  form.checkboxed div.row-form-content div.column-form-fieldsets fieldset label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: nowrap;
        -ms-flex-align: nowrap;
            align-items: nowrap;
    vertical-align: left;
    min-width: 100%;
    height: 40px;
  }
  form.checkboxed div.row-form-content div.column-form-fieldsets fieldset label span {
    text-align: left;
    width: 100%;
    font-size: 14px;
    height: 14px;
    margin: 5px 0 5px 0;
  }
  form.checkboxed div.row-form-content div.column-form-fieldsets fieldset label input {
    min-width: 14px;
    width: 14px;
    min-height: 14px;
    height: 14px;
    margin: 5px 5px 5px 20px;
  }
  /*------------------------------------------------Forms END
*/
  .center {
    text-align: center !important;
  }
  /*
        *-----------------------------------------------Category block
        */
  .categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 90%;
    max-width: 93%;
    height: 300px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin: 20px auto;
  }
  .categories .category {
    display: block;
    height: 96%;
    min-width: 47%;
    color: #fdfdfd;
    border-radius: 5px;
    background-color: #ff4949;
  }
  .categories .category p {
    font-size: 50px;
    text-align: center;
  }
  /*-----------------------------------------------Category block END
        */
  /*
        *-----------------------------------------------Products block
        */
  .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 94%;
    height: 320px;
    border-radius: 5px;
    padding: 5px;
    margin: 20px auto;
  }
  .products .product {
    max-width: 20%;
    color: #fdfdfd;
    background-color: #fdfdfd;
    border-radius: 5px;
  }
  .products .product img {
    width: 200px;
    height: auto;
    background-color: #d8d5d5;
    display: block;
    margin: 15px auto;
  }
  .products .product p {
    font-size: 15px;
    height: 20px;
    text-align: center;
    color: #3a3939;
  }
  .shop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    max-width: 93%;
    margin: 10px auto;
    background-color: #fdfdfd;
    padding: 5px;
  }
  .shop .side-bar {
    width: 28%;
    max-width: 28%;
    margin: 20px 10px;
  }
  .shop .side-bar h2 {
    text-align: center;
    margin-top: 2px;
  }
  .shop .shop-products {
    width: 68%;
    max-width: 68%;
  }
  .shop .shop-products .product {
    color: #3a3939;
    text-align: left;
    max-width: 184px;
  }
  .shop .shop-products .product img {
    width: 180px;
    margin: 2px;
  }
}

/*-----------------------------------------------Product END
*/
/*# sourceMappingURL=styles.css.map */